:root {
    --primaryWhite: #fbf9fa;
    --primaryGray: #e2e0e1;
    --primaryRed: #fd0054;
    --primaryDarkRed: #a80038;
    --primaryDark: #2b2024;
    --secondaryDark: #221a1d;
    --transition-duration: 0.3s;
    --transition-function: ease;
    --box-shadow-color: rgba(0, 0, 0, 1);
}

.conextMenu {
    background-color: var(--primaryWhite);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-function);
    position: fixed;
    z-index: 1000;
    box-shadow: 0 0 5vw rgba(0, 0, 0, 1);
}

.conextMenu.visible {
    opacity: 1;
    pointer-events: auto;
}

.window {
    background-color: var(--primaryWhite);
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--transition-duration) var(--transition-function);
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20vw rgba(0, 0, 0, 1);

    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden; /* żeby nic nie wystawało */
    display: flex;
    flex-direction: column;
}


.window.visible {
    opacity: 1;
    pointer-events: auto;
}

.adminButton{
    background-color: var(--primaryRed);
    color: var(--primaryWhite);
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.adminButton:hover{
    background-color: var(--primaryDarkRed);
    cursor: pointer;
}

.adminFileItem {
    pointer-events: auto;
    background-color: var(--primaryWhite);
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    text-align: center;
    flex: 0 1 19%;     /* NIE rośnie ponad 19%, ale może się zmniejszać */
    min-width: 100px;
    aspect-ratio: 1;   /* zachowuje proporcje kwadratu */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.zarzadzaniePlikamiWindow{
    width: calc(5 * 150px + 6 * 5px);
    height: calc(5 * 150px + 6 * 5px + 50px);
    display: flex;
    flex-direction: column;
}

.adminFilesContent {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    pointer-events: none;
    justify-content: flex-start;
    align-content: flex-start;
}

.admintextInput{
    border: 1px var(--primaryDark) solid;
    border-radius: 5px;
}

.zarzadzaniePlikamiNavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primaryDark);
    color: var(--primaryWhite);
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
}

.adminFileItem:hover{
    background-color: var(--primaryGray);
}

.adminFileItem img {
    flex-grow: 1;
    object-fit: cover;
    width: 100%;
}



.adminFormLabel{

}

.adminForm{
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.adminTab {
    float: left;
    background-color: var(--primaryWhite);
    width: 100%;
    height: auto;
}

.adminTab button {
  display: block;
  background-color: inherit;
  color: var(--primaryDark);
  padding: 10px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: all var(--transition-duration) var(--transition-function);
}

.adminTab button:hover {
  background-color: var(--primaryGray);
}

.adminTab button.active {
  background-color: var(--primaryGray);
}

.adminTabContent {
  float: left;
  width: 100%;
  border-left: none;
  height: auto;
}

.adminTabLinks.hidden{
    display: none;
}

.adminExitButton{
    cursor: pointer;
}

.adminExitButton:hover{
    background-color: var(--secondaryDark);
}
