@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

#adminMenu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    position: fixed;
    z-index: 1000;
}

#adminMenu.visible {
    opacity: 1;
    pointer-events: auto;
}

wyswigpanel{
    display: flex;
    flex-direction: column;
}

.wyswigpanelbutton{
    background-color: red;
    height: 25px;
    width: 150px;
    border-radius: 25px;
}
